*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
body{
  height: 7000px;
}
/* start our framework */
:root{
  --main-color:#00c7fc;
  --scecondry-color:#0f748f;
  --background-color:#1f2021;
  --main-padding:80px;
}
.pagi-container{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.pagi-container .pagination{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #b3b3b3;
  margin: 0 8px;
  display: inline-block;
  cursor: pointer;
}
.pagi-container .pagination.active{
  background-color:var(--main-color)
}
ul{
  list-style: none;
}
.container{
  width: 1200px;
  margin: auto;
  padding:0 15px
}
.spicial-heading{
  color:#1f2021;
  font-weight: normal;
  font-size: 40px;
  position: relative;
  width:max-content;
  margin: auto;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.h3{
  font-size: 30px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.spicial-heading::before{
  content: "";
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  height: 1px;
  background-color:var(--background-color);
}
.spicial-heading::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  background-color:#FFF
}
.main-pragraph{
  font-size: 17px;
  color: #a8a8a8;
  line-height: 1.6;
  margin: 50px auto;
  text-align: center;
  max-width: 41%;
}
/* end our framework */

/* start header */
header{
  background-color: var(--background-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #636364;
}
header .logo{
  flex: 1;
}
header .links{
  flex: 2;
}
header .links ul li{
  display: inline-block;
  list-style: none;
  padding: 5px;
  text-transform: capitalize;
  font-weight: normal;
  margin-right: 25px;
  font-size: 20px;
  color:#FFF
}
/* end header */
/* start landing */
.landing{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-color:var(--background-color);
  height:calc(100vh - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.landing .slide{
  width: 55%;
  background-color: #0f748f;
  padding: 80px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  display: flex;
  justify-content: flex-end;
  display: none;
  z-index: 2;
  border-radius: 5px;
}
.landing .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color:rgba(0,0,0,60%)
}
.landing .slide.active{
  display: flex;
}
.landing .fa-chevron-left,
.landing .fa-chevron-right{
  position: absolute;
  font-size: 25px;
  color: #FFF;
  z-index: 999;
  cursor: pointer;
}
.landing .fa-chevron-left{left:10px}
.landing .fa-chevron-right{right:10px}
.landing .slide .content{
  width: 600px;
}
.landing .slide h1{
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.6;
}
.landing .slide p{
  line-height: 1.8;
}
/* end landing */
/* start services */
.services {
  padding:var(--main-padding) 0;
}
.services .services-container{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}
.services .service{
  padding:15px;
  display:flex;
  justify-content: space-between;
  gap:50px
}
.services .service .icon i{
  font-size: 50px;
  margin-top: 25px;
}
.services .service h3{
  color:var(--main-color);
}
.services .service p{
  max-width: 80%;
  margin:25px 0;
  text-align: left;
}
/* end services */
/* start phone-section */
.phone-section{
  padding:var(--main-padding) 0 var(--main-padding) var(--main-padding);
  background-color:var(--background-color);
  color:#FFF;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  gap: 200px;
}
.phone-section img{
  position: relative;
  bottom: -135px;
  justify-self:right;
}
.phone-section .design-feautres{
  width: 50%;
  background-color: #0f748f;
  padding:var(--main-padding);
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  position: relative;
  border-radius: 5px;
}
.phone-section .design-feautres ul{
  padding-left: var(--main-padding);
}
.phone-section .design-feautres ul li{
  font-size: 20px;
  margin-bottom: 25px;
  position: relative;
}
.phone-section .design-feautres ul li::before{
  font-family: 'Font Awesome 5 Free' ;  
  content: "\f108";
  font-weight: 900;
  position: absolute;
  left: -50px;
}
/* end phone-section */
/* start portfolio */
.portfolio{
  padding:var(--main-padding) 0;
}
.portfolio .catogries{
  width: 100%;
  display:inline-flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.portfolio .catogries li{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding:15px 25px;
  cursor: pointer;
  font-weight: bold;
}
.portfolio .catogries li.active,
.portfolio .catogries li:hover{
  background-color: var(--main-color);
  color:#FFF
}
.portfolio .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
}
.portfolio .gallery .design{
  position: relative;
  transition: .5s all ease-in-out;
}
.portfolio .gallery .design.hidden{display: none;}
.portfolio .gallery .design::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color:rgba(0,0,0,60%)
}
.portfolio .gallery .design img{max-width: 100%;}
.portfolio > button{
  padding: 25px 100px;
  background-color: var(--main-color);
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 50px auto;
  display: block;
}
.portfolio .video-section{
  padding: var(--main-padding) 0;
  background-color:var(--background-color);
  display: flex;
  align-items: center;
  height: 600px;
}
.portfolio .video-section .awesome-video{
  padding: calc(var(--main-padding) / 2 + 10px);
  background-color:var(--scecondry-color);
  width: 100%;
  color:#FFF;
  text-align: center;
}
.portfolio .awesome-video span{
  letter-spacing: 1px;
  display: block;
  font-size: 16px;
  margin-bottom: 50px;
}
.portfolio .awesome-video button{
  padding: 10px 50px;
  background-color: var(--background-color);
  border: none;
  color: #FFF;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
/* end portfolio */
/* start about us  */
.aboutUs .main-pragraph{
  margin-bottom: 50px;
}
.aboutUs img{
  margin: auto;
  display: block;
  position: relative;
  overflow: hidden;
  bottom: -110px;
}
.aboutUs .statistic{
  background-color:var(--background-color);
  z-index: 2;
  position: relative;
  padding: var(--main-padding);
}
.aboutUs .stats{
  padding: var(--main-padding); 
  background-color: var(--scecondry-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#FFF;
}
.aboutUs .stats i{
  padding:15px;
  border-radius: 50%;
  background-color: var(--background-color);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.aboutUs .stats .number{
  margin: 25px 0;
  font-size: 50px;
}
.aboutUs .stats .tittle{
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
/* start our company */
.our-company{
  padding: var(--main-padding) 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 15%;
  position: relative;
}
.our-company .testmoinals{
  position: relative;
  flex:1;
}
.our-company .testmoinals .pagi-container{
  bottom: -20px;
}
.our-company .h3{font-size: 25px;}
.our-company .main-pragraph{
  max-width: 80%;
}
.our-company .testmonial .test{
  display: flex;
  justify-content: space-between;
  margin: 80px 0 50px;
  gap: 15%;
}
.our-company .test .test-desc{border-bottom: 1px solid #a8a8a8;}
.our-company .testmonial .test p{
  text-align: left;
  font-weight: bold;
}
.our-company .test span{
  text-align: right;
  display: block;
  color: #a8a8a8;
}
.our-company .testmonial.hidden{
  display: none;
}
.our-company .our-skills{flex:1}
.our-company .skills h4{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
}
.our-company .skills span{
  margin:15px 0 30px;
  display: block;
  background-color: #dbdbdb;
  height: 30px;
  border-radius: 5px;
}
/* end about us  */
/* start quote */
.quote{
  padding: var(--main-padding) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:var(--background-color);
  color:#b4b5b5;
  height: 400px;
}
.quote p{
  font-size: 29px;
  margin-bottom: 30px;
}
/* end quote */